{{template "base" .}}

{{define "content" }}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="mt-5">Test microservices</h1>
                <hr>
                <a id="brokerBtn" class="btn btn-outline-secondary" href="javascript:void(0);">
                    Test Broker
                </a>
                <a id="testAuthBtn" class="btn btn-outline-secondary" href="javascript:void(0);">
                    Test Auth
                </a>
                <a id="testLogBtn" class="btn btn-outline-secondary" href="javascript:void(0);">
                    Test Logger
                </a>
                <a id="testMailBtn" class="btn btn-outline-secondary" href="javascript:void(0);">
                    Test Mail
                </a>
                <div id="output" class="mt-5" style="outline: 1px solid silver; padding: 2em;">
                    <span class="text-muted">Output shows here...</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h4 class="mt-5">Sent</h4>
                <div class="mt-1" style="outline: 1px solid silver; padding: 2em;">
                    <pre id="payload"><span class="text-muted">Nothing sent yet...</span></pre>
                </div>
            </div>
            <div class="col">
                <h4 class="mt-5">Received</h4>
                <div class="mt-1" style="outline: 1px solid silver; padding: 2em;">
                    <pre id="received"><span class="text-muted">Nothing received yet...</span></pre>
                </div>
            </div>
        </div>
    </div>
{{end}}

{{define "js"}}
    <script> 

        const outputSection = document.getElementById("output")
        const sentSection = document.getElementById("payload")
        const receivedSection = document.getElementById("received")

        function writeToOutputs(payload, data, serviceName){
            sentSection.innerHTML = JSON.stringify(payload, undefined, 4)
            receivedSection.innerHTML = JSON.stringify(data, undefined, 4)
            if (data.error){
                outputSection.innerHTML += `<br /><strong>Error via ${serviceName}</strong>: ${data.message}`
            } else {
                outputSection.innerHTML += `<br /><strong>Response from broker</strong>: ${data.message}`
            }
        }

        function buildPayload(action, data){
            const payload = {
                action: action
            }

            payload[action] = data

            return payload
        }

        function buildRequest(payload){
            const headers = new Headers()
            headers.append("Content-Type", "application/json")

            const body = {
                method: 'POST',
                body: JSON.stringify(payload),
                headers: headers
            }

            return body
        }

        
        const brokerBtn = document.getElementById("brokerBtn")
        const authBtn = document.getElementById("testAuthBtn")
        const logBtn = document.getElementById("testLogBtn")
        const mailBtn = document.getElementById("testMailBtn")



        function callService(url, payload, serviceName) {
            const body = payload
                ? buildRequest(payload)
                : { method: 'POST' }

            const displayPayload = payload ?? { message: "empty payload" }

            fetch(url, body)
                .then((res) => res.json())
                .then((data) => {
                    writeToOutputs(displayPayload, data, serviceName)
                })
                .catch((err) => {
                    outputSection.innerHTML += `<br /> Error: ${err}`
                })
        }

        brokerBtn.addEventListener("click", () =>
            callService("http:\/\/localhost:8080", null, "broker")
        )

        authBtn.addEventListener("click", () =>
            callService("http:\/\/localhost:8080/handle", buildPayload("auth", {
                email: "admin@example.com",
                password: "verysecret"
            }), "auth")
        )

        logBtn.addEventListener("click", () =>
            callService("http:\/\/localhost:8080/handle", buildPayload("log", {
                name: "Test log",
                data: "This is a test log message"
            }), "log")
        )

        mailBtn.addEventListener("click", () =>
            callService("http:\/\/localhost:8080/handle", buildPayload("mail", {
                from: "me@test.com",
                to: "you@test.com",
                subject: "This is a test mail",
                message: "This is a test log message"
            }), "mail")
        )

    </script>
{{end}}
